body{
    background-color:rgb(16, 87, 100);
}

p, header, h2, ul, figcaption, h3, ol{
    color:beige;
    
}

nav > a{
    color:rgb(156, 197, 114);
}

footer > a{
    color: rgb(156, 197, 114);
}

p > a{
    color:rgb(249, 242, 156);
    
}

header, figcaption{
    text-align: center;
    font-family: georgia;
}

figcaption{
    font-size:xx-small;
    font-style: italic;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav{
    text-align: center;
}

.centerList{
    margin: 20px 0;
    margin-left: 170px;
    margin-right: 170px
}

h2, footer, table, h3{
    text-align: center;
    
}

.centerStuff{
    text-align: center;
}

.centerTable{
    margin: 20px 0;
    margin-left: 280px;
    margin-right: 280px   
}

div{
    margin: 20px;
    margin-left: 280px;
    margin-right: 280px;
}



figure, table{
    margin: 20px;
    margin-left: 170px;
    margin-right: 170px;
    
}

table, th, td {
    border: 0.5px solid rgb(50, 103, 108);
    border-collapse: collapse;
    margin: 20px 0;

  }



td:hover{
    background-color: rgb(231, 239, 225);
}

th{
    background-color: rgb(52, 134, 134);
}

tr:nth-child(odd){
    background-color: rgb(152, 195, 196);
    }


tr:nth-child(even){
    background-color: rgb(188, 217, 218);
}











