body{
    background-color:rgb(16, 87, 100);
}

p, header, h2, ul, figcaption, h3, ol, form{
    color:beige;
    
}

nav > a{
    color:rgb(156, 197, 114);
}

footer > a{
    color: rgb(156, 197, 114);
}

p > a{
    color:rgb(249, 242, 156);
    
}

header, figcaption{
    text-align: center;
    font-family: georgia;
}

figcaption{
    font-size:xx-small;
    font-style: italic;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav{
    text-align: center;
}

.centerList{
    margin: 20px 0;
    margin-left: 170px;
    margin-right: 170px
}

h2, footer, table, h3{
    text-align: center;
    
}

.centerStuff{
    text-align: center;
}

.centerTable{
    margin: 20px 0;
    margin-left: 280px;
    margin-right: 280px   
}

div{
    margin: 20px;
    margin-left: 280px;
    margin-right: 280px;
}



figure, table, form{
    margin: 20px;
    margin-left: 170px;
    margin-right: 170px;
    
}

table, th, td {
    border: 0.5px solid rgb(50, 103, 108);
    border-collapse: collapse;
    margin: 20px 0;

}

fieldset{
    border: none;
    padding: 2rem 0;
    border-bottom: 2px solid rgb(65, 117, 114)
    
}



td:hover{
    background-color: rgb(231, 239, 225);
}

th{
    background-color: rgb(52, 134, 134);
}

tr:nth-child(odd){
    background-color: rgb(152, 195, 196);
}


tr:nth-child(even){
    background-color: rgb(180, 215, 216);
}

input[type="submit"] {
    margin: 2em auto;
    background-color: #dbfbf7;
    border-color: rgb(75, 114, 121);
    min-width: 100px;
}

input[type="reset"] {
    margin: 2em auto;
    background-color: #dbfbf7;
    border-color: rgb(75, 114, 121);
    min-width: 100px;
    
    
}

input[type = "text"]{
    background-color: rgb(69, 14, 95);
    color:beige;
    border-color:rgb(69, 14, 95);
}

input[type = "tel"]{
    background-color: rgb(69, 14, 95);
    color:beige;
    border-color:rgb(69, 14, 95);
}

form{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}