<header>
    <h1> Mena Tadesse &#9829 Majestic Turtle &#9829 ITIS 3135 </h1>
</header>
<nav class="menu">
    <a href ="./">Home</a>
    
    <a href ="introduction.html">Introduction</a>
    
    <a href ="contract.html">Contract</a>
    
    <a href = "tables.html">Tables</a>
    
    <a href = "forms.html">Forms</a>
    
    <a href = "website_evaluations.html">Evaluations</a>
    
    <a href = "stuff/C rappy$webpage.htm">CRAPPY</a>
    
    <a href = "firstscripts.html">FirstScript</a>
    
    <a href = "byo_intro.html">BYO</a>

    <a href = "emmet.html">Emmet</a>
    
    <a href = "calculator_try.html">Calculator1</a>

    <a href = "projects_1.html">Project1</a>

    <a href = "home.html">Project2</a>

    <a href = "fizbuz.html">FizzBuzzBang</a>

    <a href="midterm.html">Hobby</a>

    <a href="arrays.html">Array</a>

    <a href="interactiveDrawing.html">Drawing</a>

    <a href="review1.html">Review1</a>
    
    <a href ="/">Main</a>
</nav>